body{
    margin: 0;
    background-image: url(bgimage.png);
    background-color: #fff;
}

header {
    background-color: #73AFA1;
}

.container{
    width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1280px){
    .container{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: none;
    }
}

.box{ 
    font-family: 'Roboto',sans-serif;
    font-size: 66px;
    padding: 60px;
    text-align: center;
    background: #73AFA1;
    color: white;
}

.box a{
    text-decoration: none;
    color: white;
}

.box .main:hover{
    color: wheat;
    font-size: 69px;
}

.box ul{
    margin-bottom: 0px;
    list-style-type: none;
    font-size: 24px;
}
.box li{
    padding: 20px;
    display: inline;
}

.box li #first:hover{
    color: wheat;
    font-size: 26px;
}

.box li #second:hover{
    color: wheat;
    font-size: 26px;
}

.box li #third:hover{
    color: wheat;
    font-size: 26px;
}
